<div class="h-screen flex flex-col">
  <!-- Header -->
  <app-portal-header class="flex-none"></app-portal-header>

  <!-- Main Content (fixed size, will cut off if larger) -->
  <main class="flex-grow relative overflow-hidden">
    <router-outlet></router-outlet>
  </main>

  <!-- Footer -->
<footer class="flex-none bg-blue-800 text-white py-6 mt-8 shadow-lg">
  <div class="text-center text-sm md:text-base font-medium tracking-wide">
    © 2025 ICT.(UTU GROUP TEAM) All rights reserved.
  </div>
</footer>

</div>
