<div
  class="h-24 w-full px-10 bg-white dark:bg-gray-900 shadow-lg relative overflow-hidden"
>
  <!-- Background Image -->


  <div
    class="h-full flex items-center border-b border-gray-100 dark:border-gray-700 gap-7 relative z-10 transition-all duration-300 hover:border-blue-500"
  >
    <!-- Sidebar Toggle -->
    <div class="flex items-center gap-3 -ms-3">
      <button
        mat-icon-button
        (click)="toggleSidebar()"
        class="hover:bg-blue-100 dark:hover:bg-blue-700 transition-all rounded-full p-2"
      >
        <mat-icon class="font-icon text-gray-700 dark:text-gray-200 text-lg">menu</mat-icon>
      </button>
    </div>

    <!-- Spacer / Right Side -->
    <div class="ms-auto flex items-center gap-3">

      <button mat-icon-button (click)="_themeManager.toggleColorScheme()" matTooltip="Color Theme"
              emrSoundEffect soundSrc="/assets/sound-effects/mouse-click.ogg">
        @if (isDark | async) {
          <mat-icon class="font-icon">light_mode</mat-icon>
        } @else {
          <mat-icon class="font-icon">dark_mode</mat-icon>
        }
      </button>
      <emr-avatar text="UTU" [clickable]="true" [matMenuTriggerFor]="accountMenu"
                  matTooltip="Account" class="w-10 h-10"></emr-avatar>
    </div>
  </div>
</div>

<!-- Account Menu -->
<mat-menu xPosition="before" #accountMenu="matMenu" class="dark:bg-gray-800">
  <div class="flex items-center px-4 py-2 gap-3">
    <emr-avatar text="VS" class="w-14 h-14"></emr-avatar>
    <div class="-mt-0.5">
      <div class="flex items-center gap-2 font-semibold text-gray-900 dark:text-gray-100">
        {{ fullName }}
      </div>
      <div class="text-xs text-gray-500 mt-0.5 dark:text-gray-400">{{ emails }}</div>
    </div>
  </div>

  <mat-divider></mat-divider>
  <a
    mat-menu-item
    class="hover:bg-blue-100 dark:hover:bg-blue-700 transition-all rounded"
  >
    <mat-icon class="font-icon">question_mark</mat-icon>
    <span>Help Center</span>
  </a>

  <mat-divider></mat-divider>
  <a
    mat-menu-item
    class="hover:bg-blue-100 dark:hover:bg-blue-700 transition-all rounded"
  >
    <mat-icon class="font-icon">translate</mat-icon>
    <span>Language</span>
  </a>

  <mat-divider></mat-divider>
  <a
    mat-menu-item
    (click)="logoutHead()"
    class="hover:bg-red-100 dark:hover:bg-red-700 transition-all rounded"
  >
    <mat-icon class="font-icon">logout</mat-icon>
    <span>Logout</span>
  </a>
</mat-menu>
