
 <!-- Hero Section -->
 <section id="hero" class="hero section">

  <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

    <div class="carousel-item active">
      <img src="assets\assets\img\hero-carousel\hero-carousel-1.jpg" alt="">

      <div class="container">
        <h2>KARIBU WIZARA YA AFYA ZANZIBAR</h2>
        <p>Wizara ya Afya Zanzibar inasimamia maswala yote yanayohusiana na Afya ndani ya Zanzibar,Mwanzoni wa miaka 90, wizara ilianza mchakato wa mageuzi ambao ulijaa kikamilifu mnamo mwaka 2002.</p>
        <a href="#" class="btn-get-started">Read More</a>
      </div>
    </div><!-- End Carousel Item -->

    <div class="carousel-item">
      <img src="assets\assets\img\hero-carousel\hero-carousel-2.jpg" alt="">

      <div class="container">
        <h2>DHAMIRA YA WIZARA YA AFYA</h2>
        <p>Kutoa uongozi wa kimkakati wa wizara ya Afya Zanzibar ambao utahakikisha wa Zanzibar wote wanalinda yao ya huduma bora na usawa zinazotolewa kwa njia bora na gharama nafuu </p>
        <a href="#about" class="btn-get-started">Read More</a>
      </div>
    </div><!-- End Carousel Item -->

    <div class="carousel-item">
      <img src="assets\assets\img\hero-carousel\hero-carousel-3.jpg" alt="">
      <div class="container">
        <h2>UTAWALA WA SEKTA YA AFYA</h2>
        <p>Kusudi la sera: kukuza ujumuishaji ,uwazi ,ujumuishaji,ushiriki wa jamii na ushiriki katika utowaji wa maamuzi katika maswala ya Afya katika ngazi zote.</p>
        <a href="#about" class="btn-get-started">Read More</a>
      </div>
    </div><!-- End Carousel Item -->

    <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a>

    <ol class="carousel-indicators"></ol>

  </div>

</section><!-- /Hero Section -->

<!-- Featured Services Section -->
<section id="featured-services" class="featured-services section">

  <div class="container">

    <div class="row gy-4">

      <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item position-relative">
          <div class="icon"><i class="fas fa-file-invoice-dollar icon"></i></div>
          <h4><a href="" class="stretched-link">All Complain</a></h4>
          <p>0</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative">
          <div class="icon"><i class="fas fa-link icon"></i></div>
          <h4><a href="" class="stretched-link">Active Complain</a></h4>
          <p>0</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item position-relative">
          <div class="icon"><i class="fas fa-window-close icon"></i></div>
          <h4><a href="" class="stretched-link">Close Complain</a></h4>
          <p>90</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
        <div class="service-item position-relative">
          <div class="icon"><i class="fas fa-dna icon"></i></div>
          <h4><a href="" class="stretched-link">All Suggestion</a></h4>
          <p>0</p>
        </div>
      </div><!-- End Service Item -->

    </div>

  </div>

</section><!-- /Featured Services Section -->

