<div class="inner bg-blue-900 text-white min-h-screen flex flex-col shadow-lg rounded-r-lg">
  <!-- Header -->
  <div class="header h-32 flex items-center justify-center border-b border-blue-700">
    <img src="../../../../assets/plus.png" class="w-40 h-auto" alt="UTTU Logo">
  </div>

  <!-- Title -->
  <h4 class="text-center text-xl font-bold mt-4">UTU HEALTH</h4>

  <emr-h-divider class="mb-4 mt-6 border-t border-blue-700"></emr-h-divider>

  <div class="body">
    <emr-navigation #navigation [activeKey]="activeLinkId" class="navigation">
      @for (navItem of navItems; track navItem) {
        @switch (navItem.type) {
          @case ('heading') {
            <emr-navigation-heading>{{ navItem.name }}</emr-navigation-heading>
          }
          @case ('group') {
            <emr-navigation-group>
              <emr-navigation-group-toggle [for]="navItem.id">
                @if (navItem.icon) {
                  <mat-icon emrNavigationItemIcon class="font-icon">{{ navItem.icon }}</mat-icon>
                }
                {{ navItem.name }}
                <mat-icon emrNavigationGroupToggleIcon class="font-icon">arrow_drop_down</mat-icon>
              </emr-navigation-group-toggle>
              <emr-navigation-group-menu [key]="navItem.id">
                @for (childItem of navItem.children | orderBy:'name'; track childItem) {
                  <a emr-navigation-item [routerLink]="childItem.link" [key]="childItem.link">
                    {{ childItem.name }}
                  </a>
                }
              </emr-navigation-group-menu>
            </emr-navigation-group>
          }
          @default {
            <a emr-navigation-item [routerLink]="navItem.link" [key]="navItem.link">
              @if (navItem.icon) {
                <mat-icon emrNavigationItemIcon class="font-icon">{{ navItem.icon }}</mat-icon>
              }
              {{ navItem.name }}
            </a>
          }
        }
      }
    </emr-navigation>
  </div>
  <!-- <div class="footer p-7">

    <app-sidebar-toolbar></app-sidebar-toolbar>
  </div> -->
</div>
