<div>
  <div class="w-full">
    <div class="relative h-full rounded-lg  group  p-6">
      <div class="font-semibold ">CREATE NEW LOCATION</div>

      <form [formGroup]="locationForm">
        <mat-form-field class="w-full mt-6">
          <mat-label>Location Name</mat-label>
          <input matInput placeholder="Ex. Amani" formControlName="location_name" type="text">
          <mat-error class="error-message" *ngIf="locationForm.controls['location_name'].touched && locationForm.controls['location_name'].invalid">
            <span *ngIf="locationForm.controls['location_name'].errors?.['required']">This field is mandatory</span>
            <span *ngIf="locationForm.controls['location_name'].errors?.['pattern']">This field is invalid (must be contain alpharbetical only)</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full mt-6">
          <mat-label>Label</mat-label>
          <input matInput placeholder="Ex. Administration" formControlName="label" type="text">
        </mat-form-field>
      </form>
    </div>
  </div>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-flat-button [mat-dialog-close]="true" cdkFocusInitial [disabled]="locationForm.invalid" (click)="saveLocation()">Save Data</button>
  </mat-dialog-actions>
</div>




