<div class="flex flex-wrap">
  <div class="flex w-full flex-col md:w-1/2">
    <div class="lg:w-[30rem] mx-auto my-auto flex flex-col justify-center pt-8 md:justify-start md:px-6 md:pt-0">
      <div class="container flex justify-center items-center">
        <img src="../../../assets/img/smz.png" class="w-52" alt="smz">
      </div>
      <h1 class="text-left text-3xl font-bold text-center">UTU  SYSTEM</h1>
      <p class="mt-2 text-left text-neutral-500 text-sm text-center">Welcome back, please enter your details.</p>
      <emr-h-divider class="mt-8">vis</emr-h-divider>
      <form class="flex flex-col pt-3 md:pt-8" [formGroup]="loginForm">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="email" formControlName="email" matInput placeholder="Ex. vaccine@mohz.go.tz">
          <button type="button" mat-icon-button matSuffix class="mr-1">
            <mat-icon class="font-icon">email</mat-icon>
          </button>
          <mat-error *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid">
            <span *ngIf="loginForm.controls.email.errors.required">This field is mandatory</span>
            <span *ngIf="loginForm.controls.email.errors.pattern">This field is invalid (must be an email)</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="mt-2">
          <mat-label>Password</mat-label>
          <input [type]="passwordVisible ? 'text' : 'password'" matInput formControlName="password">
          <a routerLink="/auth/forgot-password" matSuffix
             class="mr-3 underline-offset-4 text-xs font-semibold text-neutral-800 dark:text-neutral-300 hover:underline hover:text-accent">Forgot?</a>
             <button type="button" mat-icon-button matSuffix class="mr-1" (click)="togglePasswordVisibility()" matTooltip="View Password">
              <mat-icon class="font-icon">visibility</mat-icon>
             </button>
             <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
              <span *ngIf="loginForm.controls.password.errors.required">This field is mandatory</span>
            </mat-error>
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="loginSubmit()" [disabled]="!(loginForm.valid && loginForm.dirty)" type="submit" class="!h-12 mt-5">Log in</button>
      </form>
      <emr-h-divider class="mt-8">© 2024 ICT (Ministry of Health)</emr-h-divider>
    </div>
  </div>
  <div class="pointer-events-none relative hidden h-screen select-none bg-black md:block md:w-1/2">
    <div class="absolute bottom-0 z-10 px-16 py-12 text-white opacity-100">
      <p class="mb-8 text-3xl font-bold leading-10">
        Coding the Future: Transforming Ideas into Reality. Precision in every line,
        Innovation in every function. Your Vision, Our Code - Building Tomorrow, Today!
      </p>
      <p class="">All right reserved,</p>
      <p class="mb-7 text-sm opacity-70">ICT Department</p>
    </div>
    <img class="-z-1 absolute top-0 h-full w-full object-cover opacity-90"
         src="../../../assets/img/vis.jpg" />
  </div>
</div>
